.display-none {
    display: none;
}

.util-text-center {
    text-align: center !important;
}

.float-left {
    display: inline-block;
    float: left;
}

.float-right {
    display: inline-block;
    float: right;
}

.loading-overlay.loading-shown {
    z-index: 200000 !important;
}