@import url("https://fonts.googleapis.com/css?family=Montserrat|Rambla:700i");
body {
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

body.noscroll {
  overflow: hidden !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.open-modal {
  overflow: hidden;
}

#wrapper-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

#wrapper-popup .modal {
  /* some styles to position the modal at the center of the page */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  line-height: 200px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: #f1c40f;
  text-align: center;
  border-radius: 5px;
  /* needed styles for the overlay */
  z-index: 10;
  /* keep on top of other elements on the page */
  -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

#wrapper .width-center {
  max-width: 1200px;
  margin: 0 auto;
}

#wrapper #header {
  padding: 20px 0;
  border-bottom: 1px solid #EEEEEE;
}

#wrapper #header #main-logo {
  cursor: pointer;
}

#wrapper #header #main-logo > div {
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 22px;
  color: #0D0D0D;
}

#wrapper #header #main-logo > div > small {
  font-weight: 400;
  font-size: 16px;
}

#wrapper #header #main-logo .sub-title {
  display: inline-block;
  font-size: 16px;
  color: #6777CC;
  letter-spacing: 1px;
  margin-top: 3px;
  margin-left: 7px;
  position: absolute;
}

#wrapper #header #main-logo .sub-title span {
  font-size: 10px;
  font-weight: bold;
}

#wrapper #main #message {
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 100px;
}

#wrapper #main #message .txt01 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  margin-top: 80px;
  margin-bottom: 40px;
}

#wrapper #main #message .underline {
  border-bottom: 1px solid #CCCCCC;
  display: inline-block;
  width: 160px;
}

#wrapper .grid {
  margin: 0 -20px;
}

#wrapper .grid .grid-item {
  padding: 0 20px;
}

#wrapper .grid .grid-item img {
  display: block;
  max-width: 100%;
}

#wrapper .grid .grid-sizer,
#wrapper .grid .grid-item {
  width: 25%;
}

#wrapper .grid .grid-sizer .thumb-cover,
#wrapper .grid .grid-item .thumb-cover {
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#wrapper .grid .grid-sizer .thumb-cover .thumb,
#wrapper .grid .grid-item .thumb-cover .thumb {
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#wrapper .grid .grid-sizer .thumb-cover .thumb:hover,
#wrapper .grid .grid-item .thumb-cover .thumb:hover {
  opacity: 0.6;
}

#wrapper .grid .grid-sizer .thumb-cover:hover,
#wrapper .grid .grid-item .thumb-cover:hover {
  background-color: #000;
}

#wrapper .grid .grid-sizer .title,
#wrapper .grid .grid-item .title {
  font-weight: bold;
  color: #898989;
  margin: 8px 5px;
}

#wrapper .btns-fc {
  height: 120px;
  margin: 0 5px;
}

#wrapper .btns-fc .btn-fc {
  width: 32%;
  padding: 0;
  margin-right: 3px;
  line-height: normal;
  height: 25px;
  font-size: 10px;
}

#wrapper #footer {
  clear: both;
  margin-top: 50px;
  height: 150px;
}

#wrapper #footer .copyright {
  letter-spacing: -0.5px;
}

#wrapper #footer hr {
  margin-bottom: 50px;
}

#wrapper #footer.view-pc {
  display: block;
}

#wrapper #footer.view-mobile {
  display: none;
}

#wrapper #footer.view-mobile .icons {
  margin-bottom: 40px;
}

#wrapper #footer.view-mobile .copyright {
  margin-bottom: 60px;
  line-height: 30px;
}

@media (max-width: 1200px) {
  #wrapper .width-center {
    padding-left: 20px;
    padding-right: 20px;
  }
  #wrapper #main .list-container .list-item {
    width: 33.3%;
  }
  #footer {
    height: 150px;
  }
  #footer.view-pc {
    display: block;
  }
  #footer.view-mobile {
    display: none;
  }
  .grid .grid-sizer,
  .grid .grid-item {
    width: 33.333% !important;
  }
  .btns-fc .btn-fc {
    width: 32%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  #wrapper .width-center {
    padding-left: 20px;
    padding-right: 20px;
  }
  #wrapper #main .list-container .list-item {
    width: 50%;
  }
  #footer {
    height: auto;
  }
  #footer.view-pc {
    display: none;
  }
  #footer.view-mobile {
    display: block;
  }
  .grid .grid-sizer,
  .grid .grid-item {
    width: 50% !important;
  }
  .btns-fc .btn-fc {
    width: 32%;
    padding: 0;
  }
}

@media (max-width: 480px) {
  #wrapper .width-center {
    padding-left: 20px;
    padding-right: 20px;
  }
  #wrapper #main .list-container .list-item {
    width: 100% !important;
  }
  #footer {
    height: auto;
  }
  #footer.view-pc {
    display: none;
  }
  #footer.view-mobile {
    display: block;
  }
  .grid .grid-sizer,
  .grid .grid-item {
    width: 100% !important;
  }
  .btns-fc .btn-fc {
    width: 32%;
    padding: 0;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}
/*# sourceMappingURL=style.css.map */