html,
body {
	height: 100%;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e45173;
}
* {
	box-sizing: border-box !important;
}
.mobile-frame {
	width: 375px;
	height: 667px;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 33px 9px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 10px 10px 33px 9px rgba(0, 0, 0, 0.27);
	box-shadow: 10px 10px 33px 9px rgba(0, 0, 0, 0.27);
}
.macaos-template-02 {
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	section {
		padding: 0 25px;
	}
	#page01 {
		.info-me {
			margin-top: 75px;
		}
		.photo {
			width: 43px;
			height: 43px;
			overflow: hidden;
			margin-bottom: 20px;
			border-radius: 30px;
		}
		.name {
			color: #4b536d;
			margin-bottom: 15px;
		}
		.detail {
			font-size: 12px;
			color: #88949f;
			margin-bottom: 25px;
		}
		.menu-box {
			& > div {
				cursor: pointer;
				color: #88949f;
				padding: 10px 25px;
				font-size: 14px;
				&:hover {
					color: #e25271;
					background-color: #fcf8f9;
				}
				&.active {
					color: #e25271;
					border-left: 3px solid #e25271;
					background-color: #f4d6db;
				}
			}
			.badge {
				font-size: 14px;
				font-weight: normal;
				padding: 3px 6px;
				display: inline-block;
				background-color: #e25271;
				border-radius: 30px;
				color: #fff;
				width: 20px;
				height: 20px;
				margin-left: 10px;
				-webkit-box-shadow: 0 3px 9px rgba(120, 13, 19, 0.63);
				box-shadow: 0 3px 9px rgba(120, 13, 19, 0.63);
			}
		}
	}
}
