<Fragment id="{scoped}" class="posotion-absolute view-content">
    <link href="./view/{scoped}.css" rel="stylesheet" >
    <style>
        #scoped .title{
            color: blueviolet;
        }
        #scoped .menu {
            
        }
        #scoped {
            
        }
    </style>
    <!-- <span class="title">Front</span> -->
    <div class="menu" rel="Hello">
        .HELLO
    </div>
    <div class="menu" rel="Experience">
        .EXPERIENCE
    </div>
    <div class="menu" rel="Portfolio">
        .PORTFOLIO
    </div>
    <div class="menu" rel="Contact">
        .CONTACT
    </div>
</Fragment>