<Fragment id="{scoped}" class="view-content">
  <link href="./view/{scoped}.css?bust={{version}}" rel="stylesheet" />
  <style>
    /* #scoped .title{
            color: blueviolet;
        }
        #scoped .menu {
            
        }
        #scoped {
            
        } */
  </style>
  <!-- Header -->
  <header id="header">
    <div id="main-logo" class="width-center" log-id="idx-main-logo">
      <div>
        UI
        <div class="sub-title"><span>//</span> ppprototype</div>
      </div>
    </div>
  </header>
  <!-- Main -->
  <section id="main" class="width-center">
    <section id="message">
      <div class="txt01">UI.UX Component Prototype</div>
      <div class="underline">&nbsp;</div>
    </section>

    <!-- Thumbnails -->
    <div class="grid" id="grid-container">
      <div class="grid-sizer"></div>
      <div class="grid-item" data-itemname="kareui-accordion-01">
        <img src="./market/assets/imgs/thumb-kareui-accordion-01.png" />
        <div class="title">accordion-01</div>
        <!-- ##name -->
        <div class="btns-fc">
          2323
          <button class="btn-fc btn-demo">Demo</button>
          <button class="btn-fc btn-download">Download</button>
          <button class="btn-fc btn-buy">
            Buy <span class="box-price">$0.99</span>
          </button>
          <!-- ##price -->
        </div>
      </div>
    </div>
  </section>
  <div class="float-clear"></div>
  <footer>
    <a
      href="https://github.com/macaos/PPPrototype"
      class="txt-copyright"
      target="_blank"
      >https://github.com/macaos/PPPrototype</a
    >
    <div class="txt-email">macaoshu@gmail.com</div>
  </footer>
</Fragment>
