@import url('https://fonts.googleapis.com/css?family=Montserrat|Rambla:700i');
body {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

body.noscroll {
    overflow: hidden !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.open-modal {
    overflow: hidden;
}

#wrapper-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    .modal {
        /* some styles to position the modal at the center of the page */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        line-height: 200px;
        height: 200px;
        margin-left: -150px;
        margin-top: -100px;
        background-color: #f1c40f;
        text-align: center;
        border-radius: 5px;
        /* needed styles for the overlay */
        z-index: 10;
        /* keep on top of other elements on the page */
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    }
}

#wrapper {
    .width-center {
        max-width: 1200px;
        margin: 0 auto;
    }
    #header {
        padding: 20px 0;
        border-bottom: 1px solid #EEEEEE;
        #main-logo {
            cursor: pointer;
            // font-size: 22px;
            &>div {
                letter-spacing: -1px;
                font-weight: 700;
                font-size: 22px;
                color: #0D0D0D;
                &>small {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .sub-title {
                display: inline-block;
                font-size: 16px;
                color: #6777CC;
                letter-spacing: 1px;
                margin-top: 3px;
                margin-left: 7px;
                position: absolute;
                span {
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
    }
    #main {
        // background-color: antiquewhite;
        #message {
            text-align: center;
            width: 100%;
            // height: 200px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 100px;
            .txt01 {
                font-size: 40px;
                font-weight: 600;
                letter-spacing: -2px;
                margin-top: 80px;
                margin-bottom: 40px;
                line-height: 40px;
            }
            .underline {
                border-bottom: 1px solid #CCCCCC;
                display: inline-block;
                width: 160px;
            }
        }
    }
    .grid {
        opacity: 0;
        margin: 0 -20px;
        .grid-item {
            // float: left;
            padding: 0 20px;
            img {
                // border-radius: 7px;
                display: block;
                max-width: 100%;
            }
        }
        .grid-sizer,
        .grid-item {
            // background-color: #f1c40f;
            // width: 33.333%;
            width: 25%;
            // margin-bottom: 20px;
            // padding-bottom: 20px;
            .thumb-cover {
                border-radius: 7px;
                overflow: hidden;
                transition: background-color 0.3s ease;
                .thumb {
                    cursor: pointer;
                    transition: opacity 0.3s ease;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                &:hover {
                    background-color: #000;
                }
            }
            .title {
                font-weight: bold;
                color: #898989;
                margin: 8px 5px;
            }
        }
    }
    .btns-fc {
        height: 120px;
        margin: 0 5px;
        .btn-fc {
            width: 32%;
            padding: 0;
            margin-right: 3px;
            line-height: normal;
            height: 25px;
            font-size: 10px;
        }
    }
    footer {
        text-align: center;
        height: auto;
        margin-top: 120px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 5px;
        color: #BAC0BC;
    }
}

@media (max-width:1200px) {
    #wrapper {
        .width-center {
            padding-left: 20px;
            padding-right: 20px;
        }
        #main {
            .list-container {
                .list-item {
                    width: 33.3%;
                }
            }
        }
    }
    .grid {
        .grid-sizer,
        .grid-item {
            // background-color:aqua !important;
            width: 33.333% !important;
            // margin-bottom: 20px;
            // padding-bottom: 20px;
        }
    }
    .btns-fc {
        .btn-fc {
            width: 32%;
            padding: 0;
        }
    }
}

@media (max-width:768px) {
    #wrapper {
        .width-center {
            padding-left: 20px;
            padding-right: 20px;
        }
        #main {
            .list-container {
                .list-item {
                    width: 50%
                }
            }
        }
    }
    .grid {
        .grid-sizer,
        .grid-item {
            width: 50% !important;
        }
    }
    .btns-fc {
        margin-bottom: 30px !important;
        .btn-fc {
            width: 100% !important;
            padding: 0;
            margin-bottom: 2px;
        }
    }
}

@media (max-width:480px) {
    #wrapper {
        .width-center {
            padding-left: 20px;
            padding-right: 20px;
        }
        #main {
            .list-container {
                .list-item {
                    width: 100%;
                }
            }
        }
    }
    .grid {
        .grid-sizer,
        .grid-item {
            width: 100% !important;
        }
    }
    .btns-fc {
        margin-bottom: 60px !important;
        .btn-fc {
            width: 100% !important;
            padding: 0;
            margin-bottom: 2px;
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}