<Fragment id="{scoped}" class="posotion-absolute view-content">
  <link href="./view/{scoped}.css?bust={{version}}" rel="stylesheet" />
  <style></style>
  <header class="view-header">
    <div id="main-logo" class="width-center">
      <div log-id="idx-product-logo">
        UI
        <div class="sub-title"><span>//</span> ppprototype</div>
      </div>
    </div>
  </header>
  <div class="view-wrapper">
    <h4 class="map-ns">
      mapping
    </h4>
    <section>
      <span class="title">Live Demo</span>
      <iframe
        class="map-demo"
        id="demo-iframe"
        frameborder="0"
        width="100%"
        height="500px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
      ></iframe>
    </section>
    <a class="button btn-download map-zipurl" href="mapping">DOWNLOAD SOURCE</a>
    <!-- icon font -->
    <link
      rel="stylesheet"
      href="https://macaos.github.io/resource/css/fontello.css?bust={{version}}"
    />
    <!-- macaos-Accordion-01 -->
    <div id="macaos-accordion-02" class="product-addon">
      <div class="macaos-container">
        <div class="macaos-control-wrapper macaos-accordion">
          <div class="card">
            <div class="card-header" log-id="deatil-source-info">
              <span class="title">Source</span><small> (compress ver.)</small
              ><span class="icon-status icon-macaos-minus" />
            </div>
            <div class="card-body">
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="navigation-04 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="513"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="wvKryWQ"
                  style="height: 513px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="basic"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/wvKryWQ"> basic</a> by
                    macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="list-order-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="506"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="jOPVrPZ"
                  style="height: 506px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="list-order-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/jOPVrPZ">
                      list-order-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="template-04 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="517"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="BaowwxE"
                  style="height: 517px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="template-04"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/BaowwxE">
                      template-04</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="accordion-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macaoshu"
                  data-slug-hash="c624af5049c4def3d313f20d975ad691"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="macaos-accordion-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/c624af5049c4def3d313f20d975ad691/"
                    >
                      macaos-accordion-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="tabs-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="521"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="RwWLLdE"
                  style="height: 521px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="basic"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/RwWLLdE"> basic</a> by
                    macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="accordion-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="6155b44ae14a89ce49dcf73f6d0b2c33"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="macaos-accordion-02-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/6155b44ae14a89ce49dcf73f6d0b2c33/"
                    >
                      macaos-accordion-02-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="calendar-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="517"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macao"
                  data-slug-hash="XWmeZNd"
                  style="height: 517px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="calendar-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/XWmeZNd">
                      calendar-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="dropdown-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="519"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="wvKrygR"
                  style="height: 519px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="dropdown-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/wvKrygR">
                      dropdown-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="dropdown-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="518"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="YzyrELm"
                  style="height: 518px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="dropdown-02"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/YzyrELm">
                      dropdown-02</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="navigation-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="515"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="yLNVJeE"
                  style="height: 515px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="navigation-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/yLNVJeE">
                      navigation-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="navigation-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="515"
                  data-theme-id="dark"
                  data-default-tab="css,result"
                  data-user="macao"
                  data-slug-hash="PoPJJMr"
                  style="height: 515px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="navigation-02"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/PoPJJMr">
                      navigation-02</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="navigation-03 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="513"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="xxwXPVj"
                  style="height: 513px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="navigation-03"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/xxwXPVj">
                      navigation-03</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="popover-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="532"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="YzyrENM"
                  style="height: 532px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="popover-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/YzyrENM">
                      popover-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="tabs-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="471"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macao"
                  data-slug-hash="xxwXYwE"
                  style="height: 471px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="tabs-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/xxwXYwE"> tabs-01</a>
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="template-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="517"
                  data-theme-id="dark"
                  data-default-tab="css"
                  data-user="macao"
                  data-slug-hash="XWmezMZ"
                  style="height: 517px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="template-01"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/XWmezMZ">
                      template-01</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="template-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="516"
                  data-theme-id="dark"
                  data-default-tab="css"
                  data-user="macao"
                  data-slug-hash="ZEbXarv"
                  style="height: 516px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="template-02"
                >
                  <span
                    >See the Pen
                    <a href="https://codepen.io/macao/pen/ZEbXarv">
                      template-02</a
                    >
                    by macao (<a href="https://codepen.io/macao">@macao</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <script
                async
                src="https://static.codepen.io/assets/embed/ei.js"
              ></script>
              <div class="basic-02 codepen-include display-none"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" log-id="deatil-zip-info">
              <span class="title">License GPL2.0</span
              ><span class="icon-status icon-macaos-minus" />
            </div>
            <div class="card-body">
              <div>Can be used for</div>
              <ul>
                <li>Use them for personal use</li>
                <li>Use them for commercial use</li>
                <li>Change them however you like</li>
              </ul>
              <div>Cannot be used for</div>
              <ul>
                <li>Resell any modification of the asset on its own</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a
        href="https://github.com/macaos/PPPrototype"
        class="txt-copyright"
        target="_blank"
        >https://github.com/macaos/PPPrototype</a
      >
      <div class="txt-email">macaoshu@gmail.com</div>
    </footer>
  </div>
</Fragment>
