@import url('https://fonts.googleapis.com/css?family=Montserrat|Rambla:700i');
body {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

body.darkmode {
    background-color: #1C1D21;
    color: #3C3C3C;
}

.width-center {
    max-width: 1200px;
    margin: 0 auto;
    // padding-left: 20px;
}

.view-header {
    padding: 20px 0;
    margin-bottom: 30px;
    // background-color: #BAC0BC;
    border-bottom: 1px solid #EEEEEE;
    #main-logo {
        cursor: pointer;
        // font-size: 22px;
        &>div {
            letter-spacing: -1px;
            font-weight: 700;
            font-size: 22px;
            color: #0D0D0D;
            &>small {
                font-weight: 400;
                font-size: 16px;
            }
        }
        .sub-title {
            display: inline-block;
            font-size: 16px;
            color: #6777CC;
            letter-spacing: 1px;
            margin-top: 3px;
            margin-left: 7px;
            position: absolute;
            span {
                font-size: 10px;
                font-weight: bold;
            }
        }
    }
}

#wrapper {
    .title {
        font-weight: bold;
        font-size: 1.17em;
    }
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    // position: relative;
    padding: 0;
    a {
        color: #3C3C3C;
    }
    section {
        margin-bottom: 50px;
    }
    .container {
        width: 500px;
        border: 1px solid #3C3C3C;
    }
    footer {
        height: auto;
        margin-top: 120px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 5px;
        color: #BAC0BC;
    }
    // #demo-iframe{
    //     -ms-zoom: 0.5;
    //     -moz-transform: scale(0.5);
    //     -moz-transform-origin: 0 0;
    //     -o-transform: scale(0.5);
    //     -o-transform-origin: 0 0;
    //     -webkit-transform: scale(0.5);
    //     -webkit-transform-origin: 0 0;
    //     transform: scale(0.5);
    //     transform-origin: 0 0;	
    // }
}

#kareui-accordion-02 {
    .kareui-container {
        width: 100%;
        // background-image: linear-gradient(0deg, #ff9a9e, #fad0c4 );
        // background-color: #e06654;
        .kareui-accordion {
            // -webkit-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.6);
            // -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.6);
            // box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.6);
            // width: 250px;
            border-radius: 2px;
            // border: 1px solid #999;
            overflow: hidden;
            .card {
                .card-header {
                    .title {
                        font-weight: bold;
                        font-size: 1.17em;
                    }
                    letter-spacing: 1px;
                    font-weight: 600;
                    color: #393836;
                    padding: 15px 0;
                    cursor: pointer;
                    background-color: #fff;
                    border-top: 1px solid #393836;
                    border-bottom: 0;
                    >i {
                        margin-right: 5px;
                    }
                    .icon-status {
                        margin-top: -5px;
                        font-size: 22px;
                        float: right;
                    }
                    &:hover {
                        background-color: #F7F7F7;
                        color: #000;
                    }
                }
                .card-body {
                    // background-color: #d05a4b;
                    color: #393836;
                    padding: 0 20px 50px;
                    display: none;
                }
                @media (max-width:768px) {
                    .card-body {
                        padding: 0 0 50px;
                    }
                }
                @media (max-width:480px) {
                    .card-body {
                        padding: 0 0 50px;
                    }
                }
                &:last-child {
                    border-bottom: 1px solid #393836;
                    .card-header {
                        // border-bottom: 1px solid #393836;
                    }
                }
            }
        }
    }
}

.kareui-tabs-01 {
    $ku-border-color: #3c3c3c;
    a {
        color: #3c3c3c;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        box-sizing: border-box;
    }
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    /* 	background-color: #1C1D21; */
    .nav-tabs {
        overflow: hidden;
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        table-layout: fixed;
        &>.nav-item {
            position: relative;
            display: table-cell;
            width: 1px;
            border: 1px solid #efefef;
            border-bottom: 1px solid $ku-border-color;
            cursor: pointer;
            color: #c1c1c1;
            padding: 5px 10px;
            text-align: center;
            border-right: 0;
            background-color: #efefef;
            border-radius: 2px 2px 0 0;
            &.active {
                border: 1px solid $ku-border-color;
                color: #333;
                border-bottom: 0 !important;
                background-color: #FFF;
            }
        }
    }
    .tab-content .tab-pane {
        box-sizing: border-box;
        display: none;
        width: 100%;
        border-top: 0;
        padding: 10px;
    }
    .tab-content .tab-pane.active {
        display: block !important;
    }
}

@media (max-width:1200px) {}

@media (max-width:768px) {
    #wrapper {
        width: 97%;
        #main-logo {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width:480px) {
    #wrapper {
        width: 97%;
    }
    #main-logo {
        padding-left: 0;
        padding-right: 0;
    }
    .btn-download,
    .btn-buy-now {
        width: 100%;
    }
    footer {
        text-align: center;
        .txt-copyright,
        .txt-email {
            float: none !important;
        }
    }
}