<Fragment id="{scoped}" class="posotion-absolute view-content">
  <link href="./view/{scoped}.css?bust={{version}}" rel="stylesheet" />
  <style></style>
  <header class="view-header">
    <div id="main-logo" class="width-center">
      <div log-id="idx-product-logo">
        UI
        <div class="sub-title"><span>//</span> ppprototype</div>
      </div>
    </div>
  </header>
  <div class="view-wrapper">
    <h4 class="map-ns">
      mapping
    </h4>
    <section>
      <span class="title">Live Demo</span>
      <iframe
        class="map-demo"
        id="demo-iframe"
        frameborder="0"
        width="100%"
        height="500px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
      ></iframe>
    </section>
    <a class="button btn-download map-zipurl" href="mapping">DOWNLOAD SOURCE</a>
    <!-- icon font -->
    <link
      rel="stylesheet"
      href="http://kareui.com/css/fontello.css?bust={{version}}"
    />
    <!-- kareui-Accordion-01 -->
    <div id="kareui-accordion-02" class="product-addon">
      <div class="kareui-container">
        <div class="kareui-control-wrapper kareui-accordion">
          <div class="card">
            <div class="card-header" log-id="deatil-source-info">
              <span class="title">Source</span><small> (compress ver.)</small
              ><span class="icon-status icon-kareui-minus" />
            </div>
            <div class="card-body">
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-navigation-04 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="599"
                  data-theme-id="0"
                  data-default-tab="html"
                  data-user="kareui"
                  data-slug-hash="de5bf6ef3b2d7d6e280e46586359672a"
                  style="height: 599px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-navigation-04-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/kareui/pen/de5bf6ef3b2d7d6e280e46586359672a/"
                    >
                      navigation-04-min</a
                    >
                    by acao (<a href="https://codepen.io/kareui">@kareui</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-list-order-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="601"
                  data-theme-id="0"
                  data-default-tab="html"
                  data-user="kareui"
                  data-slug-hash="397ad0462ec183ffd76f5e11bf753b94"
                  style="height: 601px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-list-order-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/kareui/pen/397ad0462ec183ffd76f5e11bf753b94/"
                    >
                      kareui-list-order-01-min</a
                    >
                    by acao (<a href="https://codepen.io/kareui">@kareui</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-template-04 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="598"
                  data-theme-id="0"
                  data-default-tab="html"
                  data-user="kareui"
                  data-slug-hash="bd6f158969e887c46dd040f3e9d414e4"
                  style="height: 598px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-template-04-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/kareui/pen/bd6f158969e887c46dd040f3e9d414e4/"
                    >
                      kareui-template-04-min</a
                    >
                    by acao (<a href="https://codepen.io/kareui">@kareui</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-accordion-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macaoshu"
                  data-slug-hash="c624af5049c4def3d313f20d975ad691"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-accordion-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/c624af5049c4def3d313f20d975ad691/"
                    >
                      kareui-accordion-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-tabs-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="599"
                  data-theme-id="0"
                  data-default-tab="html"
                  data-user="kareui"
                  data-slug-hash="a3633a77778723aa16c571e78ff4112f"
                  style="height: 599px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-tabs-02"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/kareui/pen/a3633a77778723aa16c571e78ff4112f/"
                    >
                      kareui-tabs-02</a
                    >
                    by acao (<a href="https://codepen.io/kareui">@kareui</a>) on
                    <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-accordion-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="6155b44ae14a89ce49dcf73f6d0b2c33"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-accordion-02-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/6155b44ae14a89ce49dcf73f6d0b2c33/"
                    >
                      kareui-accordion-02-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-calendar-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="599"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="3774ed0a96e7d4a7946449f6c50558b5"
                  style="height: 599px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-calendar-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/3774ed0a96e7d4a7946449f6c50558b5/"
                    >
                      kareui-calendar-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-dropdown-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="604"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macaoshu"
                  data-slug-hash="8e45bd3adb18f14751c4671a9165603e"
                  style="height: 604px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-dropdown-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/8e45bd3adb18f14751c4671a9165603e/"
                    >
                      kareui-dropdown-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-dropdown-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="601"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="22b5ff9ae92d4282db1efc297ffeead3"
                  style="height: 601px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-dropdown-02-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/22b5ff9ae92d4282db1efc297ffeead3/"
                    >
                      kareui-dropdown-02-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-navigation-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="602"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="1c6525fa689c34ab918c8ce4e5dca900"
                  style="height: 602px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-navigation-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/1c6525fa689c34ab918c8ce4e5dca900/"
                    >
                      kareui-navigation-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-navigation-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="7b47885a122771a5d6da18deac86a543"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-navigation-02-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/7b47885a122771a5d6da18deac86a543/"
                    >
                      kareui-navigation-02-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-navigation-03 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="8899ddcb04f3640894a3993b5a1bfe23"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-navigation-03-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/8899ddcb04f3640894a3993b5a1bfe23/"
                    >
                      kareui-navigation-03-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-popover-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="601"
                  data-theme-id="dark"
                  data-default-tab="js"
                  data-user="macaoshu"
                  data-slug-hash="3aa27dca37927c316f8a7192c7b695a3"
                  style="height: 601px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-popover-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/3aa27dca37927c316f8a7192c7b695a3/"
                    >
                      kareui-popover-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-tabs-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="601"
                  data-theme-id="dark"
                  data-default-tab="html"
                  data-user="macaoshu"
                  data-slug-hash="fc469b5dcb714cb567abbf6075fe09e0"
                  style="height: 601px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-tabs-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/fc469b5dcb714cb567abbf6075fe09e0/"
                    >
                      kareui-tabs-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-template-01 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="601"
                  data-theme-id="dark"
                  data-default-tab="css"
                  data-user="macaoshu"
                  data-slug-hash="ba6586baa30dc444d56af73f267ee9ae"
                  style="height: 601px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-template-01-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/ba6586baa30dc444d56af73f267ee9ae/"
                    >
                      kareui-template-01-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <div class="kareui-template-02 codepen-include display-none">
                <p
                  class="codepen"
                  data-height="600"
                  data-theme-id="dark"
                  data-default-tab="css"
                  data-user="macaoshu"
                  data-slug-hash="dce3f09c7b0a354680f1fb4f09c1291d"
                  style="height: 600px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
                  data-pen-title="kareui-template-02-min"
                >
                  <span
                    >See the Pen
                    <a
                      href="https://codepen.io/macaoshu/pen/dce3f09c7b0a354680f1fb4f09c1291d/"
                    >
                      kareui-template-02-min</a
                    >
                    by acao (<a href="https://codepen.io/macaoshu">@macaoshu</a
                    >) on <a href="https://codepen.io">CodePen</a>.</span
                  >
                </p>
              </div>
              <!-- start ccccccccccccodepen scriptttttttttt -->
              <script
                async
                src="https://static.codepen.io/assets/embed/ei.js"
              ></script>
              <div class="kareui-basic-02 codepen-include display-none"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" log-id="deatil-zip-info">
              <span class="title">License GPL2.0</span
              ><span class="icon-status icon-kareui-minus" />
            </div>
            <div class="card-body">
              <div>Can be used for</div>
              <ul>
                <li>Use them for personal use</li>
                <li>Use them for commercial use</li>
                <li>Change them however you like</li>
              </ul>
              <div>Cannot be used for</div>
              <ul>
                <li>Resell any modification of the asset on its own</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a
        href="https://github.com/macaos/PPPrototype"
        class="txt-copyright"
        target="_blank"
        >https://github.com/macaos/PPPrototype</a
      >
      <div class="txt-email">macaoshu@gmail.com</div>
    </footer>
  </div>
</Fragment>
